<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../public/css/formcarta.css">
    <title>Enviar Carta</title>
</head>

<body>

    <div class="form-container">
        <h2>Enviar Carta</h2>
        <form id="carta-form">
            <label for="titulo_carta">Título da Carta:</label>
            <input type="text" id="titulo_carta" name="titulo_carta" maxlength="25" required>

            <label for="conteudo_carta">Conteúdo:</label>
            <textarea id="conteudo_carta" name="conteudo_carta" maxlength="300" required></textarea>


            <button type="submit">Adicionar Carta</button>
        </form>

        <p id="mensagemResposta"></p>
        <script src="../public/js/formcarta.js"></script>
    </div>                                       

</body>    

</html>