<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Correio Cósmico</title>
    <link rel="stylesheet" href="../public/css/roots.css">
    <link rel="stylesheet" href="../public/css/styles.css">
    <link rel="stylesheet" href="../public/css/formcarta.css">
</head>

<body>
    <header>
        <nav>
            <div class="logo">
                <h1>Correio Cósmico</h1>
            </div>
            <ul class="nav-links">
                <!-- para enfeitar -->
                <li><a href="#home">Home</a></li>
                <li><a href="#about">Sobre</a></li>
                <li><a href="#contact">Contato</a></li>
            </ul>
        </nav>
    </header>

    <main id="exibicao">
        <section class="containerCartas">
        </section>

        <section class="form-container">
            <h2>Enviar Carta</h2>
            <form id="carta-form">
                <label for="titulo_carta">Título da Carta:</label>
                <input class="sujo" type="text" id="titulo_carta" name="titulo_carta" maxlength="25" required>
    
                <label for="conteudo_carta">Conteúdo:</label>
                <textarea class="sujo" id="conteudo_carta" name="conteudo_carta" maxlength="300" required></textarea>
    
    
                <button class="acao-btn" type="submit">Adicionar Carta</button>
            </form>
    
            <p id="mensagemResposta"></p>
            <script src="../public/js/formcarta.js"></script>
        </section>    

        <section class="acoes">
            <button class="acao-btn" id="trocarCartaBtn">
                <span></span>
                <span>Trocar carta</span>
            </button>

            <button class="acao-btn" id="trocarElemento">
                <span></span>
                <span>Enviar uma carta</span>
            </button>
        </section>
    </main>

    <footer>
        <p>&copy; 2024 Correio Cósmico. Todos os direitos reservados.</p>
    </footer>

    <script src="../public/js/imprimirCarta.js"></script>
    <script src="../public/js/slider.js"></script>
    <script src="../public/js/formcarta.js"></script>
    <script src="../public/js/trocarVisualizacao.js"></script>
</body>

</html>