<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
    <link rel="stylesheet" href="../public/css/login.css">
</head>
<body>
    <div class="login-container">
        <div class="login-box">
            <h2>Bem-vindo de volta! <br>Faça seu login</h2>
            <form method="POST" id="loginForm">
                <div class="floating-label">
                    <input name="email" type="email" id="email" placeholder=" " required>
                    <label for="email">Seu email</label>
                </div>
                <div class="floating-label">
                    <input name="senha" type="password" id="senha" placeholder=" " required>
                    <label for="senha">Senha</label>
                    <span class="fa-regular fa-eye" id="toggle-password" onclick="togglePasswordVisibility()"></span>
                </div>
                <input type="submit" name="acao" class="login-button"></input>
                <p class="signup-text">Ainda não tem uma conta? <a href="/cadastro">Clique aqui</a></p>
            </form>
            <p id="message" class="message"></p>
        </div>
    </div>

    <script src="../public/js/btn_form.js"></script>
    <!-- <script src="./assets/scripts/login.js"></script> -->
    <script src="https://kit.fontawesome.com/735a316080.js" crossorigin="anonymous"></script>